[Desktop Entry]
Version=0.9.99
Encoding=UTF-8
Name=qpiskvork
Comment=A gomoku or renju manager adapting to Windows and Linux systems.
Exec=qpiskvork
Terminal=false
Type=Application
Categories=Utility;Game;BoardGame;
Icon=${SNAP}/meta/gui/qpiskvork.png
